.to-watch-container {
  display: flex;
  flex-direction: column;
  height: 100vh;  
  width: 100%;
  overflow: hidden;
  position: relative;
}


.to-watch-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 24px;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 2;
    display: flex;
    justify-content: space-between;  
    align-items: center;
    box-sizing: border-box; 
}

.recommend-button {
    padding: 9px 16px;  
    background-color: black;
    text-transform: uppercase;  
    font-weight: bold;  
    font-size: 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.recommend-button:hover {
    background-color: #0056b3;
}

.movie-list {
  overflow-y: auto;  
  flex-grow: 1;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 0 0px;
}

.movie-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.movie-info {
  flex-grow: 1;
}

.movie-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin: 5px 0;
  padding: 16px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size:20px;
}

.green-button {
  background-color: #28a745;
}

.red-button {
  background-color: #dc3545;
}

.fixed-bottom-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0px;
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
    z-index: 2;
    text-align: center;
    display: flex;  
    justify-content: space-around;  
}

.nav-button {
    flex-grow: 1;  
    margin: 0 5px;  
    padding: 12px 0;  
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    text-transform: uppercase;  
    font-weight: bold;  
}

.nav-button:hover {
    background-color: #0056b3;
}


.nav-button-active {
    background-color: #000000; 
    color: white;
}

.nav-button-inactive {
    background-color: #d0d0d0; 
    color: #000;
}

.logout-container {
    text-align: center;
    margin-top: 50px; /* Adjust space between nav buttons and logout button */
}

.logout-button {
    padding: 8px 20px;
    font-size: 0.8rem;
    color: #fff;
    background-color: #f44336; /* Red background for logout */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #c33d2b; /* Darker red on hover */
}


